<h1>STUPID COACH</h1>
<h2>Ask your coach anything</h2>

<div class="container">
  <div class="card">
    <form action="/answer" methode ="get">
      <input class="search" type="text" name="question">
      <input class ="btn" type="submit" value="Ask!">
    </form>
  </div>
</div>
